{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="text-justify container w-75" style="background-color:rgb(48, 48, 46); border-radius: 15px; padding: 20px; margin-bottom: 30px;">

		<h2>Notre histoire</h2>

		<p>
			Il y a quelques années, un soir, dans le service de neurologie, un enfant rentre de weekend. Il est triste comme chaque dimanche soir. Et il dit à l’équipe : "quand on rentre, on déprime, le service est triste, on a envie de repartir..."
						C'est de cette phrase que tout a démarré.<br>

			Plusieurs idées fusent dans nos têtes, dont celle-ci : " Et si on montait notre asso pour tous ces petits guerriers qui mènent un combat chaque jour?! "
						Dès la fin des travaux de rénovation du service de neuro-orthopédie, Azuriane, nous avons notre premier projet en tête, la déco,  mais il nous faut un financement. Nous déposons donc notre dossier à la préfecture pour monter notre association : Le Bonheur des Petits Guerriers.
			<br>
			Nous missionnons Pierre Antoine, un petit guerrier de nous dessiner un logo.
		</p>

		<div class="d-flex justify-content-center align-items-center">
			<img src="{{ asset('pictures/l1.jpg') }}" class="logo-PA"><img src="{{ asset('pictures/logo.png') }}" class="logo">
			<p>En parallèle nous nous démenons, des photos, des mesures, des recherches de financements, une cagnotte en ligne, et 6 mois plus tard le résultats est là ! 
								
								L’expérience était chouette, nous y avons pris goût, et nous avons encore plein d’idées, c’est ainsi que l’histoire a démarrée...</p>
		</div>

	</div>
	<div id="carouselExampleFade" class="carousel slide carousel-fade container w-50 mt-5 mb-5" style="background-color: black !important; border-radius: 15px; overflow: hidden; padding: 0 !important;">
		<div class="carousel-inner" style="background-color: black !important; line-height: 0 !important; font-size: 0 !important;">

			<div class="carousel-item active" style="background-color: black !important; height: 500px;">
				<img src="{{ asset('pictures/groupe.jpeg') }}" class="d-block w-100 h-100" style="object-fit: cover; display: block !important; border: 0 !important; margin: 0 !important; padding: 0 !important; vertical-align: middle;" alt="Groupe">
			</div>

			<div class="carousel-item" style="background-color: black !important; height: 500px;">
				<img src="{{ asset('pictures/joel.jpeg') }}" class="d-block w-100 h-100" style="object-fit: cover; display: block !important; border: 0 !important; margin: 0 !important; padding: 0 !important; vertical-align: middle;" alt="Joël">
			</div>

			<div class="carousel-item" style="background-color: black !important; height: 500px;">
				<img src="{{ asset('pictures/noel.jpeg') }}" class="d-block w-100 h-100" style="object-fit: cover; display: block !important; border: 0 !important; margin: 0 !important; padding: 0 !important; vertical-align: middle;" alt="Noël">
			</div>

		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>


	<div class="text-justify container w-75" style="background-color:rgb(48, 48, 46); border-radius: 15px; padding: 20px; margin-bottom: 30px;">

		<h2>Présentation</h2>

		<p>Créee en juin 2022, l’association Le Bonheur des Petits Guerriers s’engage à apporter joie et réconfort aux enfants hospitalisés au Centre Médical Infantile de Romagnat.<br>
			<br>
			Consciente des défis que représente l’hospitalisation pour les plus jeunes, notre association a pour mission d’illuminer leur quotidien en leur offrant des moments de bonheur et d’évasion.<br>
			<br>
			Loin d’être un simple lieu de soins, le CMI devient grâce à nos actions, un espace où le sourire et la légèreté ont toutes leur place.<br>
			<br>
			Nos objectifs principaux :
			<ul>
				<li>Offrir aux enfants hospitalisés des animations ou sorties, ludiques, éducatives ou culturelles.</li>
				<li>Offrir du matériel et jouets qui leur permets un moment de plaisir ou d’évasion.</li>
				<li>Apporter du soutien aux familles en redonnant le sourire aux enfants, et en leur créant des moments de partage.</li>
				<li>Collaborer avec le personnel soignant afin d’améliorer nos interventions et partager des moments de convivialités autour de projets communs.</li>

			</ul>
		</p>

	</div>
			<div class="d-flex justify-content-center align-items-center">
<img src="{{ asset('pictures/output-onlinetools (1).png') }}" class="img-fluid w-25" alt="Jen_Laura">
<img src="{{ asset('pictures/output-onlinetools (3).png') }}" class="img-fluid w-25" alt="Jen_Laura">
<img src="{{ asset('pictures/output-onlinetools (1).png') }}" class="img-fluid w-25" alt="Jen_Laura">
</div>

	<div class="text-justify container w-75" style="background-color:rgb(48, 48, 46); border-radius: 15px; padding: 20px; margin-bottom: 30px;">
<h2>Les petits guerriers</h2>
<p>Nos petits guerriers, qui sont-ils ?<br>
<br>
Ils sont avant tout : des bébés, des enfants et des ados plein de courage.

Dans notre service, ils ont entre 3 et 17 ans, et sont hospitalisés pour un suivi médical et de la rééducation intensive auprès d' une équipe pluridisciplinaire (kinésithérapeute, ergothérapeute, psychomotricienne, psychologue, orthophoniste, diététicienne, Activité Physique et Adapté..)

Ces jeunes accidentés de la vie ont besoin de rééducation orthopédique intensive. Sans oublier les jeunes qui viennent après des interventions chirurgicales lourdes (pour certaines nécessitant de l'alitement stricte, plâtré, pendant des semaines)

Il y en a aussi qui viennent pour de la rééducation neurologique : ces petits guerriers ont subis des traumatismes crâniens graves, des AVC, se battent contre des tumeurs, des maladies dégénératives, génétiques ou non étiquetées ...
Quelque uns de leurs camarades viennent aussi pour apprendre à gérer leur diabète ou leurs douleurs chroniques.

Certains vivent avec la maladie ou le handicap depuis toujours, d'autres le découvrent et l'apprivoisent, et puis il y a ceux qui reprennent le cours de leur vie après plusieurs semaines/mois de travail.

Ils vivent tous ensembles dans le même but : aller mieux.
Nous, soignants, nous sommes là pour faire le maximum afin de les aider à tendre vers ce mieux, et les faire sourire.

On rit, on chante, on blague, mais il nous manque cette petite touche de couleur pour rajouter une dose de pep's !

Comme expliqué dans un précédent post, "Le bonheur des petits guerriers" est là dans le but de monter des projets pour leurs apporter un petit quelque chose en plus, et les mettre dans les meilleurs conditions possibles pour atteindre leurs objectifs.</p>

</div>
{% endblock %}
