{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}
	{% for article in articles %}

		<div class="container w-75" style="background-color:rgb(48, 48, 46); border-radius: 15px; padding: 20px; margin-bottom: 30px;">

			<div class="justify-content-center d-flex">
				<h2>{{ article.titre }}</h2>
			</div>
			<div class="contenu_article">
				{{ article.contenu|raw }}
			</div>
			<div class="date_article">
				<em>{{ article.createdAt|date('d/m/Y') }}</em>
			</div>
			<div class="justify-content-center d-flex">
				{% for photo in article.images %}
					<img src="{{ asset('uploads/pictures/' ~ photo.nom) }}" alt="{{ article.titre }}" style="width: 100%; max-width: 400px; margin-bottom: 10px;">
				{% else %}
					<p>Aucune photo disponible.</p>
				{% endfor %}
			</div>
			<hr>
		</div>
	{% endfor %}

{% endblock %}
